/* ---- ROOT COLORS ---- */
:root {
    --black: #424242;
    --true-black: #000;
    --white: #E3e5e8;
    --grey: #C0C0C0;
    --bg-color: #22303C;
    --darker-bg: #19232c;
    --orange: #c45508;
    --lighter-bg: #344a5d;
}

/* ---- ALL ---- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-color);
    height: 200vh;
}

section {
    padding: 2rem 0 2rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--white);
}

/* ---- HEADER ---- */
header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: var(--bg-color);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 66.75rem;
}

/* ---- HEADER SITE NAME ---- */
.name {
    margin: 0 auto 0 0;
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.name span {
    color: var(--orange)
}

/* ---- HEADER ACCOUNT IMAGE ---- */
.account-img {
    display: flex;
    height: 6rem;
    width: 6rem;
    transition: .6s;
}

.account-img:hover {
    opacity: 70%;
}

/* ---- HEADER SEARCH BAR ---- */
.uil-search {
    color: var(--white);
    cursor: pointer;
    transition: .4s;
}

.uil-search:hover {
    color: var(--orange);
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 4rem;
    padding: 0.5rem 0.938rem;
    margin-right: 1rem;;
    column-gap: 0.7rem;
    width: 100%;
    max-width: 15rem;
    background-color: var(--darker-bg);
}

#search-content {
    background: transparent;
    color: var(--white);
    outline: none;
    border: none;
    width: 100%;
}

/* ---- LEFT NAV ---- */
.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
    position: fixed;
    top: 50%;
    left: 3.7rem;
    transform: translateY(-50%);
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--grey);
    transition: 0.4s;
}

.link:hover, .active-link {
    transform: scale(1.02);
    color: var(--orange);
    transition: 0.4s;
}

.link-title {
    font-size: 0.7rem;
}

.link .uil {
    font-size: 1.4rem;
}

/* ---- MAIN IMAGE ---- */
.main-img {
    position: absolute;
    top: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    z-index: -999;
    height: 100%;
    width: 100%;
}

/* ---- MAIN SECTION ---- */
.main {
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
    position: relative;
    min-height: 29.375rem;
}

.main-title {
    font-size: 2.7rem;
    color: var(--white);
}

.main-text {
    padding-left: 2.5rem;
    position: relative;
    top: 3.125rem;
}

.main-text p {
    color: var(--orange);
    margin: 0.625rem 0 1.25rem;
    font-size: 0.938rem;
}

.watch-trailer {
    color: var(--white);
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
}

.watch-trailer span {
    font-size: .9rem;
}

.uil-play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.313rem;
    transition: .6s;
}

.uil-play:hover {
    opacity: 70%;
}

/* ---- POPULAR FILMS SECTION ---- */
.heading {
    background-color: var(--lighter-bg);
    padding: 0.5rem 0.875rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading .title {
    font-size: 1.2rem;
    color: var(--white);
    text-transform: uppercase;
}
