/* ---- ROOT COLORS ---- */
:root {
    --black: #424242;
    --true-black: #000;
    --white: #E3e5e8;
    --grey: #71797E;
    --bg-color: #22303C;
    --darker-bg: #19232c;
    --orange: #c45508;
}

/* ---- ALL ---- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--white);
}

/* ---- HEADER ---- */
header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: var(--bg-color);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 66.75rem;
}

/* ---- HEADER SITE NAME ---- */
.name {
    margin: 0 auto 0 0;
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.name span {
    color: var(--orange)
}

/* ---- HEADER ACCOUNT IMAGE ---- */
.account-img {
    display: flex;
    height: 6rem;
    width: 6rem;
    transition: .6s;
}

.account-img:hover {
    opacity: 70%;
}

/* ---- HEADER SEARCH BAR ---- */
.uil {
    color: var(--white);
    cursor: pointer;
    transition: .4s;
}

.uil:hover {
    color: var(--orange);
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 4rem;
    padding: 0.5rem 0.938rem;
    margin-right: 1rem;;
    column-gap: 0.7rem;
    width: 100%;
    max-width: 15rem;
    background-color: var(--darker-bg);
}

#search-content {
    background: transparent;
    color: var(--white);
    outline: none;
    border: none;
    width: 100%;
}